@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --header-height: 94px;
    
    /* color section */
    --primary-bg-color: #121212; /* body */
    --secondary-bg-color: #1C1C1C; /* movie container */
    --primary-text-color: #FFFFFF; /*  */
    --secondary-text-color: #AAAAAA; /* for less important text */
    --accent-color: #E50914; /* for buttons and links */
    --hover-color: #B20710; /* for buttons and links on hover */
    --primary-header-color: #1C1C1C; /* for movie-header */
    --secondary-header-color: #262626; /* for movie-nav */
    --main-section-color: #1C1C1C; /* for movie-main */
    --footer-color: #262626; /* for footer color */
    --bg-black:rgb(19,18,18); /*  */
    --bg-dark-blue:#032541; /*  */
    --very-dark-blue: #021a2e;
    --active-button-color: #01B4E4;
    --heart-color: rgb(229, 9, 20);
    --light-grey-border: rgb(227,227,227);
    /* bg image */
    --backdrop-image: none;
    /* font 1 rem */
    --font-xsm: .78rem;
    --font-sm: .82rem;
    --font-xxsm: .88rem;
    --font-2: .9rem;
    --font-1: .93rem;
    --font-smd: .96rem;
    --font-md: 1rem;
    --font-xmd: 1.04rem;
    --font-lg: 1.2rem;
    /* bold fonts */
    --bold-sm: 300;
    --bold-md: 500;
    /* font families */
    --movie-text-font: 'Oswald', sans-serif;
}
* {
    color: var(--primary-text-color);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--primary-bg-color);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0; 
    margin-bottom: 0;
}
span {
    display: inline-block;
}
h1,h2,h3,h4,h5 {
    margin-bottom: 0 !important;
}
/* helper classes */
.row {
    margin: 0 !important;
}
.no-padding>* {
    padding: 0 !important;
}
/* color classes */
.primary-header {
    color: var(--primary-header-color) !important;
}
.primary-text {
    color: var(--primary-text-color) !important;
}
.primary-bg {
    background-color: var(--primary-bg-color) !important;
}
.secondary-header {
    color: var(--secondary-header-color) !important;
}
.secondary-text {
    color: var(--secondary-text-color) !important;
}
.secondary-bg {
    background-color: var(--secondary-bg-color) !important;
}
.main-section-color {
    background-color: var(--main-section-color);
}
.footer-color {
    background-color: var(--footer-color) !important;
}
.bg-black {
    background-color: var(--bg-black);
}
.bg-dark-blue {
    background-color: var(--bg-dark-blue);
}
.dark-blue-hover:hover {
    background-color: var(--very-dark-blue);
}
.accent-bg {
    background-color: var(--accent-color);
}
.accent-bg:hover {
    background-color: var(--hover-color);
}
.accent-border {
    border-color: var(--accent-color);
}
/* font classes */
.font-1 {
    font-size: var(--font-1);
}
.font-xsm {
    font-size: var(--font-xsm) !important;
}
.font-sm {
    font-size: var(--font-sm) !important;
}
.font-xxsm {
    font-size: var(--font-xxsm) !important;
}
.font-smd {
    font-size: var(--font-smd) !important;
}
.font-md {
    font-size: var(--font-md) !important;
}
.font-xmd {
    font-size: var(--font-xmd) !important;
}
.font-lg {
    font-size: var(--font-lg) !important;
}
.oswald-font {
    font-family: var(--movie-text-font);
}
/* font weights */
.bold-sm {
    font-weight: var(--bold-sm);
}
.bold-md {
    font-weight: var(--bold-md);
}
/* width classes */
.w-10 {
    width: 10%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}
.w-96 {
    width: 96%;
}
.w-98 {
    width: 98%;
}
.w-fit-content {
    width: fit-content;
}
/* helper classes */
.object-fit-cover {
    object-fit: cover !important;
}
.cursor-pointer {
    cursor: pointer;
}
/* specific classes */
.nowrap-space {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: nowrap;
}
.dot-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* for sliders */
.slider-bottom {
    scroll-snap-type: x mandatory; /* Ensures items snap into place */
    padding: .8rem 1.4rem;
}
.slider-bottom>*{
    scroll-snap-align: start;
}
/* For cross-browser compatibility */
.slider-bottom::-webkit-scrollbar {
    height: 8px;
}
.slider-bottom::-webkit-scrollbar-track {
    background: transparent;
}
.slider-bottom::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* Bootstrap secondary grey */
    border-radius: 20px;
}

/* particular classes */
.image-render {
    image-rendering: -o-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}