@import url(/assets/styles/helper_classes.css);

/* page related helper classes */
.active-button {
    border: none;
    border-bottom: 4px solid var(--active-button-color);
}
.active-button:hover {
    border-bottom: 4px solid var(--bg-dark-blue);
}
/* css sections */
#movie-header {
    background-color: var(--primary-header-color);
}
#movie-nav {
    background-color: var(--secondary-header-color);
}
#movie-bg-wrapper {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.88)), var(--backdrop-image);
    background-position: top;
    background-size: cover;
}
/* movie streaming availability */
#provider>img {
    height: 36px;
    width: 36px;
}
/* .movie-banner-img {
    min-width: 400px;
} */
#movie-certification-status {
    border-radius: 3px;
}
#movie-secondary-details>div.d-flex span:not(.dot) {
    font-size: .9rem;
}
#movie-ratings {
    width: 110px;
}
.circular-btn-wrap i{
    font-size: .7rem;
}
.crew-member-name {
    font-size: var(--font-md) !important;
    white-space: nowrap;
}
.crew-member-jobs {
    font-size: var(--font-2) !important;
}

/* cicular progress bar */
/* keep these root values to only dedicated page scripts only to avoid value clashes */
:root {
    --rating-value: none;
    --percentage-value-font: 1.6rem;
    --percentage-sign-font: .7rem;
}
.flex-container {
    top: 21px;
    left: 20px;
}
#value {
    font-size: var(--percentage-value-font);
}
#sign {
    font-size: var(--percentage-sign-font);
}
/* video player */
#player {
    max-width: 1000px; 
    width: 80vw; 
    height: calc(9/16 * 80vw);
}
/* more details */
#more-details img {
    image-rendering: -o-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
/* Movie cast */
.movie-cast-item {
    border: 1px solid var(--secondary-header-color);
    height: 258px !important;
    width: 145px !important;
    flex: 0 0 auto;
}
.actor-profile-img {
    height: 194px !important;
    width: 145px !important;
    margin-top: -4px;
}
/* stats */
#show-stats {
    object-fit: contain;
}
#show-stats span {
    padding: 0;
    font-size: var(--font-1);
}
#show-stats h5 {
    color: var(--heart-color);
}
.stats-text {
    color: var(--secondary-text-color);
}
#tv-networks .stats-text img {
    height: 30px !important;
}
/* media classes */
.media-poster-img, .media-backdrop-img {
    object-fit: contain;
}
.media-backdrop-img img {
    max-height: 300px !important;
    max-width: 533px !important;
}
.media-poster-img img {
    max-height: 300px !important;
    max-width: 200px !important;
    display: block;
    padding: 50px 0;
    border: 3px solid var(--secondary-text-color);
}
.rounded-bg-wrapper {
    background-color: var(--primary-header-color);
    border-radius: 7px;
}
/* reviews */
.review-profile-wrapper {
    height: 45px;
    width: 45px;
}
.review-card .review-card-text p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
